@model IList<TransferAuthorizationWeb.Areas.Approvals.Models.PendingAchApprovals>


<script type="text/javascript">

    var app = new kendo.mobile.Application(document.body);
    var tabstrip = $("#tabstrip").kendoMobileTabStrip();

</script>




<div data-role="tabstrip">
  <a href="#index">Home</a>
  <a href="#featured">Featured</a>
</div>





