@{
    ViewBag.Title = "Pending Check Approvals";
}

<script type="text/javascript">

    $(document).ready(function () {

        intitializeApprovalTabs();
        initalizePendingWiresGrid();
        initalizeWireApprovalHistoryGrid();

        installEventListeners();
    });


    function installEventListeners() {

        $('#AuthorizeSelectedWires').click(function () {

            AuthorizeSelectedItems();
        });

        $('#MultipleSelect').click(function () {

            ToggleSelectAll('MultipleSelect');
        });
    }


    function UpdateMenu() {

        var rowCount = $('#pendingWiresGrid tr').length;

        if (rowCount == 0) {

            $('#wrapper').hide();
            $("#WireCount").text("");
            $('#NoRowsFoundTemplate').show();
        }
        else {

            $("#WireCount").text("(" + rowCount + ")");
        }
    }

    function intitializeApprovalTabs() {

        $("#approvalTabs").kendoTabStrip({
            animation: {

                open: {
                    effects: "fadeIn"
                }
            }
        });
    }


    function initalizeWireApprovalHistoryGrid() {

        var dataSource = new kendo.data.DataSource({

            transport: {

                read: {
                    type: 'GET',
                    dataType: 'json',
                    url: '@Url.Action("GetWireApprovalHistory")'
                }
            },
            schema: {

                model: {

                    fields: {
                        ApprovalDate: { type: 'string' },
                        Amount: { type: 'string' },
                        CheckNumber: { type: 'string' },
                        CheckSignerId: { type: 'string' }
                    }
                }
            }
        });


        $('#WireApprovalHistoryGrid').kendoGrid({

            dataSource: dataSource,

            columns: [
            { field: 'ApprovalDate', title: 'Approval Date/Time' },
            { field: 'Amount', title: 'Amount' },
            { field: 'CheckNumber', title: 'Check Number' },
            { field: 'CheckSignerId', title: 'Check Signer' },
        ],

            sortable: true,
            scrollable: true,
            width: 1300,
            selectable: true

        });
    }



    function initalizePendingWiresGrid() {

        var dataSource = new kendo.data.DataSource({

            transport:
            {
                read:
                {
                    type: 'GET',
                    dataType: 'json',
                    url: '@Url.Action("GetPendingWireApprovals")'
                }
            },
            schema: {

                model: {

                    fields:
                    {
                        Amount: { type: 'string' },
                        CheckNumber: { type: 'string' },
                        CheckSignerId: { type: 'string' },
                        Payee1: { type: 'string' },
                        Payee2: { type: 'string' },
                        Payee3: { type: 'string' }
                    }
                }
            }
        });

        $('#pendingWiresGrid').kendoGrid({

            dataSource: dataSource,

            columns: [
                {
                    field: 'Select', template: '<input type="checkbox" id = "#= Id #"/>', width: '30px'
                },
                {
                    field: 'Amount', title: 'Amount'
                },
                {
                    field: 'CheckNumber',
                    title: 'Check Number',
                    filterable: true
                },
                {
                    field: 'CheckSignerId', title: 'Check Signer'
                },
                {
                    field: 'Payee1', title: 'Payee 1'
                },
                {
                    field: 'Payee2', title: 'Payee 2'
                },
                {
                    field: 'Payee3', title: 'Payee 3'
                }

            ],

            scrollable: true,
            width: 1300,
            height: 275,
            selectable: true
        });
    }


    function AuthorizeSelectedItems() {

        var errorsFound = false;

        var atLeastOneIsChecked = $(':checkbox:checked').length > 0;

        if (atLeastOneIsChecked) {

            if (confirm("Authorize Selected Item(s)?", "Authorize")) {

                $('#pendingWiresGrid tr').each(function () {

                    var currentRow = $(this);
                    var currentCheckBox = $(this).find('input:checkbox');

                    if (currentCheckBox.attr("checked") == "checked") {

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ApproveWire")',
                            data: currentCheckBox.attr('id'),
                            success: function (resp) {

                                currentRow.remove();
                                UpdateMenu();
                            },

                            error: function (e) {

                                alert('errorsFound');
                                errorsFound = true;
                            }
                        });
                    }
                });
            }
        }
        else {

            alert('No Items Selected To Authorize');
        }
    }
    

</script>

<div id="RootApprovalTabs" class="ApprovalTabs">
    
    <div id="approvalTabs">
        <ul>
            <li class="k-state-active">Pending Wires</li>
            <li>Authorization History</li>
        </ul>

        <div id="PendingApprovalsTab" style="background-color:#fef8f0;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px">
            
            <div id="wrapper" style="background-color:#fef8f0;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:0px">
                
                <table id="pendingWiresGrid">
                    <thead>
                        <tr>
                            <th style="width: 30px"><input id="MultipleSelect" type="checkbox"/></th>
                            <th data-field="Amount">Amount</th>
                            <th data-field="CheckNumber">Wire Number</th>
                            <th data-field="CheckSignerId">Check Signer</th>
                            <th data-field="Payee1">Payee 1</th>
                            <th data-field="Payee2">Payee 2</th>
                            <th data-field="Payee3">Payee 3</th>
                        </tr>
                    </thead>
                </table>
                
                <div style="height:40px"/></div>
                
                <table>
                    <tr>
                        <td>
                            <div class="k-content" style="padding-top:15px;padding-left: 0px;padding-bottom:15px;background-color: #fef8f0;border-color: #fef8f0">
                                <button id="AuthorizeSelectedWires" title="authorize all selected item(s)" style="padding-left:8px;padding-right:9px;background-color:#4aa3b5;color:white" class="k-button">Authorize Item(s)</button>
                            </div>
                        </td>
                        <td>
                            <div class="k-content" style="padding-top:15px;padding-left: 0px;padding-bottom:15px;background-color: #fef8f0;border-color: #fef8f0">
                                <button id="RefreshItems" title="refresh pending Ach's" style="padding-left:8px;padding-right:9px;background-color:#7c6a55;color:white" class="k-button">Refresh</button>
                            </div>
                        </td>
                    </tr>
                </table>
                
            </div>
            
            <div id="NoRowsFoundTemplate" style="display:none;height:373px;text-align:center;">
                <p>The Are No Items To Authorize</p>
            </div>
            
        </div>

        <div id="WireApprovalHistoryTab" style="padding-left: 0px;padding-right:0px;padding-top: 0px;padding-bottom: 0px">
            
            <div id="wrapper2" style="background-color:#fef8f0;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:0px">

                <table id="WireApprovalHistoryGrid">
                    <thead>
                        <tr>
                            <th data-field="Payee1">Approval Date/Time</th>
                            <th data-field="Amount">Amount</th>
                            <th data-field="CheckNumber">Check Number</th>
                            <th data-field="CheckSignerId">Check Signer</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>





