@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript">


    function getAchData() {

        var ach = {};

        ach.Name                = $('#Name').val();
        ach.AccountNumber       = $('#AccountNumber').val();
        ach.Amount              = $('#Amount').val();
        ach.Notes               = $('#Notes').val();
        ach.ApproverId          = 'EganC';
        ach.OriginatingSystem   = $('#OriginatingSystem').val();
        ach.ID                  = $('#SeedValue').val();
        
        return ach;
    }


    function SubmitAch() {

        var data = getAchData();

        $.ajax({
            type: "POST",
            data: data,
            async: true,
            url: '@Url.Action("AddAchTransfer")',

            success: function (id) {
                
                SendPushNotification("A new Ach Approval has arrived", "NewAch", id);
            },

            error: function (e) {

            }
        });
    }
    


    function UpdateAch() {

        var data = getAchData();
        
        $.ajax({
            type: "POST",
            data: data,
            async: true,
            url: '@Url.Action("UpdateAchTransfer")',

            success: function (id) {
                
                SendPushNotification("An Ach has been updated", "AchUpdate", id);
               
            },
        });
    }
    

    function DeleteAch() {

        var data = getAchData();

        $.ajax({
            type: "POST",
            data: data,
            async: true,
            url: '@Url.Action("DeleteAchTransfer")',

            success: function (id) {

                SendPushNotification("An Ach has been deleted", "AchDelete", id);
               
            },

            error: function (e) {

            }
        });
    }
    
    function SendPushNotification(message, type, uniqueId) {

        var notification = {};        
    
        notification.message    = message;
        notification.type       = type;
        notification.uniqueIds  = uniqueId;
  
        $.ajax({
            type: "GET",
            data:notification,
            async: true,
            url: 'http://192.168.1.5/TransferAuthorizationService/SendNotification'
        });
        
        alert('Your Ach has been submitted');
    }
    
    
    
  
</script>



<table>
    <tr>
        <td>Name</td>
        <td>
            <input type="text" id ="Name"/>
        </td>
    </tr>
    
    <tr>
        <td>Account Number</td>
        <td>
            <input type="text" id ="AccountNumber"/>
        </td>

    </tr>
    
    <tr>
        <td>Amount</td>
        <td>
            <input type="text" id ="Amount"/>
        </td>

    </tr>
    <tr>
        <td>Originating System</td>
        <td>
            <input type="text" id ="Originating System"/>
        </td>

    </tr>
        
    <tr>
        <td>Notes</td>
        <td>
            <input type="text" id ="Notes"/>
        </td>

    </tr>
    
    <tr>
        <td>Seed Value</td>
        <td>
            <input type="text" id ="SeedValue"/>
        </td>
    </tr>
    
    
    <tr>
        <td>
            <button id="Test" type="submit" onclick="SubmitAch();">Submit</button>
            <button id="Update" type="submit" onclick="UpdateAch();">Update</button>
            <button id="Delete" type="submit" onclick="DeleteAch();">Delete</button>
        </td>

    </tr>
        
</table>
   
